# **TASK 1**

In [1]:
import pandas as pd

### **Load Data...**

In [2]:
df_1 = pd.read_csv(r'data1.csv')  # data1...
df_2 = pd.read_csv(r'data2.csv')  # data2...

In [3]:
df_1.head()

         Order ID       Product ID  Qty
0  CA-2014-100006  TEC-PH-10002075    3
1  CA-2014-100090  FUR-TA-10003715    3
2  CA-2014-100090  OFF-BI-10001597    6
3  CA-2014-100293  OFF-PA-10000176    6
4  CA-2014-100328  OFF-BI-10000343    1

In [4]:
df_2.head()

         Order ID       Product ID  Qty
0  CA-2014-100090  FUR-TA-10003715    3
1  CA-2014-100090  OFF-BI-10001597    6
2  CA-2014-100293  OFF-PA-10000176    6
3  CA-2014-100328  OFF-BI-10000343    1
4  CA-2014-100363  OFF-FA-10000611    2

---

In [5]:
# Create a new column of 'Record' => "Order ID" + "Product ID"...
df_1["Record"] = df_1["Order ID"]+df_1["Product ID"]

df_2["Record"] = df_2["Order ID"]+df_2["Product ID"]

In [6]:
df_1.head()

         Order ID       Product ID  Qty                         Record
0  CA-2014-100006  TEC-PH-10002075    3  CA-2014-100006TEC-PH-10002075
1  CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090FUR-TA-10003715
2  CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090OFF-BI-10001597
3  CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293OFF-PA-10000176
4  CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328OFF-BI-10000343

In [7]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9478 entries, 0 to 9477
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order ID    9478 non-null   object
 1   Product ID  9478 non-null   object
 2   Qty         9478 non-null   int64
 3   Record      9478 non-null   object
dtypes: int64(1), object(3)
memory usage: 296.3+ KB

In [8]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9479 entries, 0 to 9478
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Order ID    9479 non-null   object
 1   Product ID  9479 non-null   object
 2   Qty         9479 non-null   int64
 3   Record      9479 non-null   object
dtypes: int64(1), object(3)
memory usage: 296.3+ KB

---

### **Provide solution and approach for the following:**

#### **1. How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2 (Specify the number of records missing in your answer)**

In [9]:
result_1 = set(df_1["Record"]).difference(set(df_2["Record"]))  # using set...
display(len(result_1))

507

#### **2. How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2 (Specify the number of records missing in your answer)**

In [10]:
result_2 = set(df_2["Record"]).difference(set(df_1["Record"]))  # Using set...
print(len(result_2))

508

#### **3. Find the Sum of the total Qty of Records missing in data1 but present in data2**

In [11]:
total_qty = df_2[df_2['Record'].isin(result_2)]['Qty'].sum()  # If Record value in Result in result_2, sum it...

In [12]:
total_qty

1956

#### **4. Find the total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2**

In [13]:
total_record = set(df_1['Record']).union(set(df_2['Record']))  # Geting unique values...

In [14]:
display(len(total_record))

9986

In [15]:
'Task - 1, Done ...'

'Task - 1, Done ...'